@model IEnumerable<dgPadCms.Models.Taxonomy>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table sorting table table-borderless table-striped table-earning" id="taxonomies">
    <thead>
        <tr>
            <th>
                Name
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
          
                <td>
                 <center>
                <a asp-action="Edit" asp-route-id="@item.TaxonomyId" >Edit</a> |

                  <a class="confirmDeletion" asp-action="Delete" asp-route-id="@item.TaxonomyId" >Delete</a>
                      <center>
      
            </center>
            </center>
            </td>
        </tr>
}
    </tbody>
</table>

@*@section Scripts {
    <script>
        $("table#taxonomies tbody").sortable({
            items: "tr:not(.home)",
            placeholder: "ui-state-highlight",
            update: function () {
                let ids = $("table#taxonomies tbody").sortable("serialize");
                let url = "/admin/taxonomies/reorder";

                $.post(url, ids, function () { });
            }
        })
    </script>
}*@