@model IEnumerable<Common.Models.PostType>

@{
    ViewData["Title"] = "PostTypes";
}

<h1>PostTypes </h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-borderless table-striped table-earning">
    <thead>
        <tr>
            <th>
              Title
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PostTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PostTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
