
@model Common.Term

@{
    ViewData["Title"] = "Term";
}

<div class="row ">
<div class="col-md-5 au-card recent-report">
<h2>Edit Terms</h2>
 </div>
 </div>

<div class="row">
    <div class="col-md-5 au-card recent-report">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
      
            <div class="form-group">
                <label asp-for="TaxonomyId" class="control-label"></label>
                  <select asp-for="TaxonomyId" asp-items="@ViewBag.TaxonomyId" class="form-control">
                    <option value="0">Choose a Taxonomy</option>
                </select>
                <span asp-validation-for="TaxonomyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        CKEDITOR.replace("Content");
    </script>
}