@model dgPadCms.Models.CreatePostViewModel

@{
    ViewData["Title"] = "Create a Post";
}

<div class="row ">
<div class="col-md-10 au-card recent-report">
<h2>Create a Post</h2>
 </div>
 </div>

<div class="row">
    <div class="col-md-10 au-card recent-report">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" type="date"  class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detail" class="control-label"></label>
                <textarea asp-for="Detail" class="form-control"></textarea>
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
               <textarea asp-for="Summary" class="form-control"></textarea>
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="Image" class="control-label">Post Image</label>
                <input asp-for="ImageUpload" class="form-control" />
                <img src="" id="imgpreview" class="pt-2" alt="" />
                <span asp-validation-for="ImageUpload" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="PostTypeId" class="control-label"></label>
                <select asp-for="PostTypeId" asp-items="@ViewBag.PostTypeId" class="form-control">
                    <option value="0">Choose a PostType</option>
                </select>
                <span asp-validation-for="PostTypeId" class="text-danger"></span>
            </div> 
              <div class="form-group">
                
                @for(int i=0; i<Model.Terms.Count ;i++)
                {
                    <input asp-for="Terms[i].Value" type="hidden" class="form-control" /> 
                    <input asp-for="Terms[i].Selected" class="form-control" />
                    @Model.Terms[i].Text 
                }
               
            </div>
           @* <div class="form-group">
                <label asp-for="PostTerms" class="control-label"></label>
                <select asp-for="PostTerms" asp-items="@ViewBag.TermId" multiple ="multiple" class="form-control">
                
                </select>
                <span asp-validation-for="PostTerms" class="text-danger"></span>
            </div>    *@

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        CKEDITOR.replace("Detail");
        CKEDITOR.replace("Summary");
       
        $("#ImageUpload").change(function () {
            readURL(this);
        });
    </script>
}
