@model Post

@{
    ViewData["Title"] = "Edit Post";
}

<div class="row ">
<div class="col-md-10 au-card recent-report">
<h2>Edit Posts</h2>
 </div>
 </div>


<div class="row">
    <div class="col-md-10 au-card recent-report">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

         <input type="hidden" asp-for="Image" />

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detail" class="control-label"></label>
               <textarea asp-for="Detail" class="form-control"></textarea>
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                 <textarea asp-for="Summary" class="form-control"></textarea>
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
          

            
            <div class="form-group">
                <label asp-for="Image" class="control-label">Current Image</label>
                <img src="~/media/posts/@Model.Image" width="200" alt="" />
            </div>

            <div class="form-group">
                <label asp-for="Image" class="control-label">New Post Image</label>
                <input asp-for="ImageUpload" class="form-control" />
                <img src="" id="imgpreview" class="pt-2" alt="" />
                <span asp-validation-for="ImageUpload" class="text-danger"></span>
            </div>

              <div class="form-group">
                <label asp-for="PostTypeId" class="control-label"></label>
                <select asp-for="PostTypeId" asp-items="@ViewBag.PostTypeId" class="form-control">
                    <option value="0">Choose a PostType</option>
                </select>
                <span asp-validation-for="PostTypeId" class="text-danger"></span>
            </div>
                  <div class="form-group">
                <label asp-for="PostTerms" class="control-label"></label>
                <select asp-for="PostTerms" asp-items="@ViewBag.TermId " multiple ="multiple" class="form-control">
                
                </select>
                <span asp-validation-for="PostTerms" class="text-danger"></span>
            </div>  
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
            CKEDITOR.replace("Detail");
            CKEDITOR.replace("Summary");

            $("#ImageUpload").change(function () {
                readURL(this);
            });
    </script>
}
