@foreach (var item in Model)
{
    <div class="alert alert-info">
    @item.Name
</div>
}

  <div> 
      <tr>   
          <td><a asp-controller="Roles" asp-action="Index">Back to Roles Page</a> </td>
                      
             </tr>
    </div>