<table class="table">
    <thead>
        <tr>
            
            <th>Email</th>
           
            <th>Roles</th>
        </tr>
    </thead>

    @foreach (var item in Model)
   {
       <tr>
            @*<th>@item.user.UserName</th>*@
            <th>@item.user.Email</th>
          
            <th>
                @foreach (var roleName in ViewBag.allRoles)
                {
                    @if(item.userRoles.Contains(roleName.ToString()))
                    {                   
                        <a class="btn btn-primary" href="addroletouser/@item.user.Id/@roleName"> @roleName</a>
                    }
                    else
                    {
                         <a class="btn btn-outline-primary" href="addroletouser/@item.user.Id/@roleName"> @roleName</a>
                    }
                }

    





            </th>
        </tr>
   }






</table>