

 <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="font-weight-bold mb-4">Tags</h4>
                <div class="d-flex flex-wrap m-n1">
                     @foreach (var item in @ViewBag.postTypes)
        {
              <a asp-action="PostTypes" asp-route-id="@item.PostTypeId" class="btn btn-sm btn-outline-secondary m-1"> @item.Title</a>
        }
      
                  
                </div>
            </div>